html, body {
	overflow-x:hidden;
}
body {
	font-family: 'Karla', Helvetica, Arial, sans-serif;
	color:#333333
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}
p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/*** GRID ***/
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container: before,
.container: after {
	content: " ";
	display: table;
}
.container: after {
	clear:both;
}
.one-half, .one-third, .one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto !important;
}

@media (max-width:767px) {
    .img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:768px) {
    .img {
        max-width: 240px;
        max-height: 240px;
    }
}

@media (min-width:992px) {
    .img {
        max-width: 314px;
        max-height: 314px;
    }
}

@media (min-width:1200px) {
    .img {
        max-width: 380px;
        max-height: 380px;
    }
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width:46%;
	}
	.one-third {
		width: 29.333333%;
	}
	.one-fourth {
		width: 21%;
	}
	
@media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
	
	/*** HEADER ***/
	header {
		color:#333333;
	}
	header nav {
		padding: 1em 0;
	}
	header nav ul {
		display: inline;
		text-align: right;
		float: right;
		margin: 0;
	}
	header nav ul > li {
		list-style-type: none;
		display: inline-block;
		margin 0 15px;
	}
	header nav ul > li.btn-outline {
		padding: 10px 15px;
		border: 2px solid #A74CFD;
		border-radius: 4px;
	}
	header nav ul > li.btn-outline:hover {
		background: #A74CFD;
	}
	header nav ul > li > a {
		color: #A74CFD;
		text-decoration: none;
	}
	header nav ul > li.btn-outline:hover > a {
		color: #ffffff;
	}
	header .hero {
   text-align: center;
   display:table;
   position:relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: 700;
   margin:95px 0 0;
	 color:#ffffff;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
	 color: #ffffff;
 }
	header {
		background: #A74CFD url("../images/hero-image.png") top center no-repeat;
   	background: url("../images/hero-image.png") top center no-repeat, linear-gradient(206deg, #8100FC 0%, #333333 55%);
   	background-size:100%;
   	text-align: center;
   	padding:4em 0;
	}
	header div img {
		max-width: 150px;
	}
	
	/*** BENEFITS ***/
	.benefits {
		background:#ffffff;
		background-size:100%;
		text-align:left;
	}
	.benefits ul li {
   list-style-type: none;
 }
	.benefits h2 {
		font-weight:600;
	}
	.benefits .notes {
		min-height:100%;
	}
	.benefits .images {
		min-height:100%;
	}
	.benefits .links {
		min-height:100%;
		display: inline-block;
	}
	.benefits {
		border-bottom: 1px #e1e1e1 solid;
	}
	.links-section {
		display: inline-block;
	}
	
	/*** BUTTONS ***/
 .btn {
   border-radius: 4px;
   color:#ffffff;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #A74CFD;
   border: 2px solid #A74CFD;
   box-shadow: 0px 2px 0px 0px #333333;
 }
	
	/*** PRICING ***/
	.pricing {
		background: #A74CFD url("../images/hero-image.png") top center no-repeat;
   	background: url("../images/hero-image.png") top center no-repeat, linear-gradient(206deg, #8100FC 0%, #333333 55%);
   	background-size:100%;
   	text-align: center;
   	padding:4em 0;
	}
	.pricing h2, .pricing p {
   color:#FFFFFF;
 }
 	.pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 	.pricing ul li {
   list-style-type: none;
 }
	.box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }
 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }
 .box h3 {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
	 color:#ffffff;
   font-weight: 600;
   text-transform: uppercase;
   background: #A74CFD;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;
	}
	.box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#A74CFD;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#333333;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }
	.box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
 }
	